.row-container{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}

.row-container::-webkit-scrollbar{
    display: none;
}

.movie_img{
    margin-right: 15px;
    transition: transform 0.75s;
}

.movie_img:hover{
transform: scale(1.20);
}